.home {
    width:100%;
    height: 100%;
    padding: 2px;
}
.navigations {
    display: flex;
    align-items: center;
    gap:10px;
    margin-left: 20px;
}
.homeWrapper {
    border: 1px solid rgb(201, 200, 237);
    padding: 20px;
}
.firstSection {
    display: flex;
    align-items: center;
    gap:20px;
}
.charts {
  align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgb(174, 184, 227);
    transition: 0.3s;
    width:100%;
    padding: 5px;
    height: 120px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgb(174, 184, 227);
  }
  
  .container {
    display: flex;
    align-items: center;
    gap:10px;
  }
  .moreDetails {
    height: 75px;
    border-left: 1px solid black;
    padding: 10px;
  }
  .details p{
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .secondSection {
    display: flex;
    gap:20px;
    margin-top: -5px;
  }
  .secondSection .card {
    height: 220px;
    border-radius: 10px;
    border:1px solid rgb(98, 125, 232);
    margin-top: 20px;
    padding: 10px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    height: 100px;
  }
  table th {
    padding: 1px;
    background-color:rgb(98, 125, 232) ;
  }
  td, th {
    border: 1px solid rgb(98, 125, 232);
    text-align: left;
    padding: 2px;
    line-height: 1;
  }
  .card-footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .card-footer .content {
    color: brown;
  }
  .icon {
    transform: rotate(45deg)
  }
 
  /* Extra Small Devices (Portrait Phones, Less than 576px) */
  @media (max-width: 575.98px) {
    .firstSection {
      display: block;
      align-items: center;
      gap:20px;
  }
  .secondSection {
    display: block;
    gap:20px;
  }
}

/* Small Devices (Landscape Phones, 576px and Up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .firstSection {
    display: block;
    align-items: center;
    gap:20px;
}
.secondSection {
  display: block;
  gap:20px;
}
}

/* Medium Devices (Tablets, 768px and Up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card{
    height: 160px;
  }
  .moreDetails  {
    margin-top: -40px;
  }
  .secondSection .card {
    height: 190px;
  }
  table tr td {
    font-size: 11px; 
   }
}

/* Large Devices (Desktops, 992px and Up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .card{
    height: 160px;
  }
  .moreDetails  {
    margin-top: -40px;
  }
  .secondSection .card {
    height: 190px;
  }
  table tr td {
    font-size: 11px; 
   }
}

/* Extra Large Devices (Large Desktops, 1200px and Up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .card{
    height: 130px;
  }
  .moreDetails  {
    margin-top: -40px;
  }
  .secondSection .card {
    height: 190px;
  }
  table tr td {
    font-size: 11px; 
   }
}

/* Extra Extra Large Devices (Very Large Desktops, 1400px and Up) */
@media (min-width: 1400px) {
   
}