.sidebar{
    flex:1;
    height: 100%;
    background-color: white;
    border: 1px solid rgb(201, 200, 237);
}
.top{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(201, 200, 237);
    padding: 5px;
}
.compLogo {
    vertical-align: middle;
    justify-content: center;
}

.customBtn {
    width: 100%;
    background-color: rgb(82, 111, 191);
    padding:2px;
    margin-top: 2px;
    color: white;
    font-size: 15px;
}
.center ul {
    margin: 0px;
    padding: 0px;
}
.center ul li {
    list-style: none;
    border-bottom: 1px solid rgb(82, 111, 191);
    display: block;
    align-items: center;
    padding: 5px;
}
.center ul li:first-child span {
    margin-left: 0px;
}
.center ul li:last-child span {
    margin-left: 0px;
}
.center ul li span {
    padding: 10px;
    margin-left: 15px;
}
.moreItems {
    margin-top: 20px;
    padding: 10px !important;
}


  /* Extra Small Devices (Portrait Phones, Less than 576px) */
@media (max-width: 575.98px) {
    .sidebar {
        display: none;
      }
}

/* Small Devices (Landscape Phones, 576px and Up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .sidebar {
        flex: none;       
        width: 220px;
      }
}

/* Medium Devices (Tablets, 768px and Up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .sidebar {
        flex: none;       
        width: 220px;
      }
}

/* Large Devices (Desktops, 992px and Up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .sidebar {
        flex: none;       
        width: 220px;
      }
}

/* Extra Large Devices (Large Desktops, 1200px and Up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .sidebar {
        flex: none;       
        width: 220px;
      }
}

/* Extra Extra Large Devices (Very Large Desktops, 1400px and Up) */
@media (min-width: 1400px) {
    .sidebar {
        flex: none;       
        width: 220px;
      }
}